{% extends "base.html" %}
{% load staticfiles %}

{% block title %}<title>Adding a new post</title>{% endblock title %}

{% block blog_title %}
<div class="blog-header">
    <h1 class="blog-title">The {{ request.user.username }}`s blog</h1>
    <p class="lead blog-description">Adding a new post</p>
</div>
{% endblock %}

{% block content %}
<form action="/add-post/" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
        {{ form.title.errors }}
        <label for="{{ form.title.id_for_label }}">Title</label>
        {{ form.title }}
    </div>
    <div class="form-group">
        {{ form.description.errors }}
        <label for="{{ form.description.id_for_label }}">Description</label>
        {{ form.description }}
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}