{% extends "base.html" %}
{% load staticfiles %}

{% block title %}<title>My feed</title>{% endblock title %}

{% block blog_title %}
<div class="blog-header">
    <h1 class="blog-title">The {{ request.user.username }}`s blog</h1>
    <p class="lead blog-description">My feed</p>
</div>
{% endblock %}

{% block content %}
<div class="col-sm-8 blog-main">
{% for post in posts %}
    <div class="blog-post">
        <h2 class="blog-post-title"><a href="{{post.get_link}}">{{post.title}}</a></h2>
        <p class="blog-post-meta">{{post.created_date}} by <a href="/id/{{ post.blog.user.id}}">{{ post.blog.user.username}}</a></p>
        <p>{{post.description}}</p>
    </div>
{% endfor %}
{% if not posts %}
    <div class="blog-post">
        <p>You do not have any subscriptions</p>
    </div>
{% endif %}
</div>
{% endblock %}