{% extends "base.html" %}
{% load staticfiles %}

{% block blog_title %}
<div class="blog-header">
    <h1 class="blog-title">The {{ user.username }}`s blog</h1>
    {% if request.user.username != user.username %}
        {% if is_follow %}
            <a href="/user/{{pk}}/unfollow">Unfollow</a>
        {% else %}
            <a href="/user/{{pk}}/follow">Follow</a>
        {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="col-sm-8 blog-main">
{% for post in posts %}
    <div class="blog-post">
        <h2 class="blog-post-title"><a href="{{post.get_link}}">{{post.title}}</a></h2>
        <p class="blog-post-meta">{{post.created_date}} by <a href="/id/{{ post.blog.user.id}}">{{ post.blog.user.username}}</a></p>
        <p>{{post.description}}</p>
    </div>
{% endfor %}
{% if not posts %}
    <div class="blog-post">
        <p>{{user.username}} does not have posts</p>
    </div>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
{% if not pk %}
<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module">
        <h4>Followed users</h4>
        <ol class="list-unstyled">
            {% for user in followees %}
            <li><a href="/id/{{user.followee.id}}">{{user.followee.username}}</a></li>
            {% endfor %}
        </ol>
    </div>
</div>

<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module">
        <h4>All users</h4>
        <ol class="list-unstyled">
            {% for user in users %}
            <li><a href="/id/{{user.id}}">{{user.username}}</a></li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endif %}
{% endblock %}