{% extends "base.html" %}
{% load staticfiles %}

{% block title %}<title>Login page</title>{% endblock title %}

{% block blog_title %}
<div class="blog-header">
    <h1 class="blog-title">Login page</h1>
    <p class="lead blog-description"><kbd>Hint</kbd> username: dvhb; password: 1</p>
</div>
{% endblock %}

{% block content %}
<form action="/login/" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}">Username</label>
        {{ form.username }}
    </div>
    <div class="form-group">
        {{ form.password.errors }}
        <label for="{{ form.password.id_for_label }}">Password</label>
        {{ form.password }}
    </div>
    <button type="submit" class="btn btn-default">Login</button>
</form>
{% endblock %}