{% extends "base.html" %}
{% load staticfiles %}

{% block title %}<title>My feed</title>{% endblock title %}

{% block blog_title %}
<div class="blog-header">
</div>
{% endblock %}

{% block content %}
<div class="col-sm-8 blog-main">
    <div class="blog-post">
        <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.created_date}} by <a href="/id/{{ post.blog.user.id}}">{{ post.blog.user.username}}</a></p>
        <p>{{post.description}}</p>
    </div>
</div>
{% endblock %}